Repository cw118/quetudesinfo, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, components, pages, styling, documentation, JS, workflow

.github/labeler.yml:

# For more information on GitHub Actions' labeler, see https://github.com/actions/labeler

assets:
- static/**/*

components:
- src/components/**/*

pages:
- src/routes/**/*

styling:
- '*.css'

documentation:
- '*.md'

JS:
- '*.js'

workflow:
- .github/**/*

Remove vercel.json
  vercel.json
Labels: none

chore: organize assets, some css cleaning
  src/routes/applyingtocegep/afterapplying/+page.svelte
  src/routes/applyingtocegep/applicationmodules/+page.svelte
  src/routes/applyingtocegep/importantdates/+page.svelte
  src/routes/programcomparisontool/+page.svelte
  src/styles.css
  static/assets/Q-info-logo-small.jpg
  static/assets/applications/crc-identification.png
  static/assets/applications/crc-mari-start.png
  static/assets/applications/crc-page1.png
  static/assets/blank.png
  static/assets/q-info-logoicon.png
Labels: assets, pages

chore: improve a11y of buttons
  src/components/GoToTop.svelte
  src/components/Pagination.svelte
  src/components/TopNav.svelte
  src/components/compare-programs/Collapse.svelte
  src/routes/+page.svelte
  src/routes/applyingtocegep/applicationmodules/+page.svelte
  src/routes/faq/+page.svelte
Labels: components, pages

chore: resize images and small fixes
  src/components/TopNav.svelte
  static/assets/home/computer-lab.webp
  static/assets/home/dawson-college.webp
  static/assets/home/quebec-scenery.webp
  static/assets/home/resources-hero-bg.webp
  static/assets/home/scientist.webp
Labels: assets, components

chore: add end/right padding to sidenav links
  src/components/SideNav.svelte
Labels: components

fix: correct contact page URL
  static/sitemap.txt
Labels: assets

chore: update mari science info and minor prog-comp/assets fixes
  README.md
  src/components/compare-programs/Form.svelte
  src/components/compare-programs/programData.js
  src/routes/applyingtocegep/afterapplying/+page.svelte
  src/routes/applyingtocegep/applicationmodules/+page.svelte
  src/routes/applyingtocegep/importantdates/+page.svelte
  src/routes/applyingtocegep/makingsmartchoices/+page.svelte
  src/routes/whatiscegep/englishcegeps/+page.svelte
Labels: components, pages, documentation
