Repository cw118/quetudesinfo, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, content, CSS, documentation, HTML, JS, workflow

chore(important-dates): campus tours in past dates
  apply/important-dates.html
Labels: content

fix(css): use root stylesheet paths
  about/about-me.html
  about/about-project.html
  about/disclaimers-terms.html
  about/index.html
  apply/after-applying.html
  apply/application-systems.html
  apply/choose-a-cegep-program.html
  apply/important-dates.html
  apply/index.html
  apply/make-smart-choices.html
  compare-programs/index.html
  whatiscegep/cegep-alternatives.html
  whatiscegep/english-cegeps.html
  whatiscegep/index.html
  whatiscegep/programs.html
  whatiscegep/r-score.html
Labels: content

chore: enable dependabot PRs
  .github/dependabot.yml
Labels: workflow

chore(important-dates): update as of 11/30/2022
  apply/important-dates.html
Labels: content

Update Marianopolis program data
  compare-programs/index.html
  compare-programs/programs/marianopolis.json
Labels: none

Update Marianopolis program data (#31)
  compare-programs/index.html
  compare-programs/programs/marianopolis.json
Labels: none

Update important dates and small compare-prog fixes
  apply/important-dates.html
  compare-programs/programs/marianopolis.json
  index.html
Labels: content, HTML

Update copyright footer year
  404.html
  about/about-me.html
  about/about-project.html
  about/disclaimers-terms.html
  about/index.html
  apply/after-applying.html
  apply/application-systems.html
  apply/choose-a-cegep-program.html
  apply/important-dates.html
  apply/index.html
  apply/make-smart-choices.html
  compare-programs/index.html
  contact.html
  help.html
  index.html
  links.html
  resources.html
  whatiscegep/cegep-alternatives.html
  whatiscegep/english-cegeps.html
  whatiscegep/index.html
  whatiscegep/programs.html
  whatiscegep/r-score.html
Labels: content, HTML

Update and add important cegep links
  links.html
Labels: content, HTML

Relocate assets and use custom favicon
  src/app.html
  src/routes/+page.svelte
  static/assets/Q-info-logo-small.jpg
  static/assets/achievement-record.png
  static/assets/applications/cas-identification.png
  static/assets/applications/cas-mari-start.png
  static/assets/applications/cas-page1.png
  static/assets/applications/dawson-adultsector.png
  static/assets/applications/dawson-applicationaddress.png
  static/assets/applications/dawson-applicationcentre.png
  static/assets/applications/dawson-applicationsteps.png
  static/assets/applications/dawson-applicationsummary.png
  static/assets/applications/dawson-applicationsystem.png
  static/assets/applications/dawson-declaration.png
  static/assets/applications/dawson-emailconfirm.png
  static/assets/applications/dawson-login.png
  static/assets/applications/dawson-schoolandboard.png
  static/assets/applications/dawson-step5.png
  static/assets/applications/dawson-youthsector.png
  static/assets/applications/mari-apply-step1.png
  static/assets/applications/mari-apply-step2.png
  static/assets/applications/mari-apply-step3.png
  static/assets/applications/sram-academicbg.png
  static/assets/applications/sram-applicantmenu.png
  static/assets/applications/sram-applicationstatus.png
  static/assets/applications/sram-apply.png
  static/assets/applications/sram-contactinfo.png
  static/assets/applications/sram-loggedin.png
  static/assets/applications/sram-step2.png
  static/assets/applications/sram-verify.png
  static/assets/blank.png
  static/assets/cegep-hsgrades.png
  static/assets/q-info-logoicon.png
  static/assets/sample-commerce-schedule.png
  static/assets/vanier-courseexample.png
  static/favicon.png
  static/favicon.svg
  static/googleed9fcbbc557b0f6c.html
Labels: none

chore: layout, some global styles and setup
  src/app.html
  src/routes/+error.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/styles.css
Labels: none

chore: home and FAQ pages
  src/app.html
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/faq/+page.svelte
  src/styles.css
Labels: none

chore: nav and footer components, reorganization
  sitemap.txt
  src/components/Footer.svelte
  src/components/GoToTop.svelte
  src/components/SideNav.svelte
  src/components/TopNav.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/faq/+page.svelte
  src/routes/whatiscegep/+page.svelte
  src/sectionPages.js
  src/styles.css
  vercel.json
Labels: none

chore: pagination component, improvements and complete page
  sitemap.txt
  src/components/GoToTop.svelte
  src/components/Pagination.svelte
  src/components/SideNav.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/whatiscegep/+page.svelte
  src/styles.css
Labels: none

chore: whatiscegep pages, style and component fixes
  README.md
  src/components/Disclaimer.svelte
  src/components/Pagination.svelte
  src/components/SideNav.svelte
  src/components/TopNav.svelte
  src/routes/+page.svelte
  src/routes/whatiscegep/+page.svelte
  src/routes/whatiscegep/cegep-alternatives/+page.svelte
  src/routes/whatiscegep/english-cegeps/+page.svelte
  src/routes/whatiscegep/programs/+page.svelte
  src/routes/whatiscegep/r-score/+page.svelte
  src/sectionPages.js
  src/styles.css
  static/assets/tav-ece.png
  static/assets/tav-logo.png
Labels: documentation

chore: applyingtocegep pages, continuing fixes
  .github/pull_request_template.md
  sitemap.txt
  src/components/Footer.svelte
  src/components/TopNav.svelte
  src/routes/+page.svelte
  src/routes/applyingtocegep/+page.svelte
  src/routes/applyingtocegep/afterapplying/+page.svelte
  src/routes/applyingtocegep/applicationmodules/+page.svelte
  src/routes/applyingtocegep/choosingacegepandprogram/+page.svelte
  src/routes/applyingtocegep/importantdates/+page.svelte
  src/routes/applyingtocegep/makingsmartchoices/+page.svelte
  src/routes/faq/+page.svelte
  src/routes/whatiscegep/+page.svelte
  src/routes/whatiscegep/alternativestocegep/+page.svelte
  src/routes/whatiscegep/englishcegeps/+page.svelte
  src/routes/whatiscegep/programs/+page.svelte
  src/routes/whatiscegep/therscore/+page.svelte
  src/sectionPages.js
  src/styles.css
  static/assets/applications/mari-new-application-info.png
  static/sitemap.txt
Labels: workflow

chore: program comparison tool and css improvements
  src/components/Disclaimer.svelte
  src/components/compare-programs/Collapse.svelte
  src/components/compare-programs/CompareTool.svelte
  src/components/compare-programs/Form.svelte
  src/components/compare-programs/programData.js
  src/routes/programcomparisontool/+page.svelte
  src/styles.css
Labels: none

chore: useful links section, css cleaning cont.
  src/components/Footer.svelte
  src/components/Pagination.svelte
  src/components/TopNav.svelte
  src/components/compare-programs/Collapse.svelte
  src/components/compare-programs/CompareTool.svelte
  src/routes/+page.svelte
  src/routes/applyingtocegep/afterapplying/+page.svelte
  src/routes/applyingtocegep/applicationmodules/+page.svelte
  src/routes/faq/+page.svelte
  src/routes/programcomparisontool/+page.svelte
  src/routes/usefullinks/cegeplinks/+page.svelte
  src/routes/usefullinks/resources/+page.svelte
  src/routes/whatiscegep/programs/+page.svelte
  src/sectionPages.js
  src/styles.css
  static/sitemap.txt
Labels: none

chore: about pages, new icon and cont. cleanup
  src/routes/+page.svelte
  src/routes/about/contact/+page.svelte
  src/routes/about/disclaimersandterms/+page.svelte
  src/routes/about/me/+page.svelte
  src/routes/about/project/+page.svelte
  src/routes/applyingtocegep/importantdates/+page.svelte
  src/routes/faq/+page.svelte
  src/sectionPages.js
  src/styles.css
  static/favicon.svg
Labels: none

chore: contact form, final fixes
  README.md
  src/components/GoToTop.svelte
  src/components/Pagination.svelte
  src/components/SideNav.svelte
  src/components/TopNav.svelte
  src/routes/+page.svelte
  src/routes/about/contact/+page.svelte
  src/routes/about/contact/submitted/+page.svelte
  src/routes/about/disclaimersandterms/+page.svelte
  src/routes/about/me/+page.svelte
  src/routes/about/project/+page.svelte
  src/routes/applyingtocegep/+page.svelte
  src/routes/applyingtocegep/afterapplying/+page.svelte
  src/routes/applyingtocegep/applicationmodules/+page.svelte
  src/routes/applyingtocegep/makingsmartchoices/+page.svelte
  src/routes/faq/+page.svelte
  src/routes/usefullinks/cegeplinks/+page.svelte
  src/routes/whatiscegep/+page.svelte
  src/routes/whatiscegep/englishcegeps/+page.svelte
  src/routes/whatiscegep/therscore/+page.svelte
  src/styles.css
Labels: documentation

refactor: create sitemap component, dynamic topnav dropdowns
  src/components/Sitemap.svelte
  src/components/TopNav.svelte
  src/routes/+error.svelte
  src/routes/about/contact/submitted/+page.svelte
  src/routes/faq/+page.svelte
Labels: none

chore: update README and rewrite CONTRIBUTING doc
  README.md
  docs/CONTRIBUTING.md
  src/components/TopNav.svelte
  src/routes/+page.svelte
Labels: documentation

.github/labeler.yml:

# For more information on GitHub Actions' labeler, see https://github.com/actions/labeler

assets:
- assets/**/*

content:
- about/**/*
- apply/**/*
- whatiscegep/**/*
- '*.html'

CSS:
- style/**/*
- '*.css'

documentation:
- '*.md'

HTML:
- '*.html'

JS:
- scripts/**/*
- '*.js'

workflow:
- .github/**/*
