Repository cw118/quetudesinfo, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, content, CSS, documentation, HTML, JS, workflow

Update dead links and Mari application info
  apply/application-systems.html
  links.html
Labels: content, HTML

Update Dawson open house and important note
  apply/important-dates.html
Labels: content

Add important links for various events
  apply/important-dates.html
Labels: content

Fix heading/anchor links in readme
  README.md
Labels: documentation

Fix anchor link in readme table of contents
  README.md
Labels: documentation

Remove past event
  apply/important-dates.html
Labels: content

Create initial custom 404 page
  404.html
Labels: content, HTML

Add missing Help and FAQ link/row to 404 sitemap
  404.html
Labels: content, HTML

Fix link text and improve description for Important Links
  404.html
Labels: content, HTML

Various fixes and improvements
  about/404.html
  help.html
Labels: content, HTML

Minor fix for Help and FAQ page
  help.html
Labels: content, HTML

Create tentative About root page to fix 404 formatting
  about.html
Labels: content, HTML

Move main section files to their folders as index.html
  about/index.html
  apply/index.html
  whatiscegep.html
  whatiscegep/index.html
Labels: content, HTML

Fix stylesheet, asset and script file paths
  about/index.html
  apply/index.html
  index.html
  whatiscegep/index.html
Labels: content, HTML

Revert to working file paths for root index.html
  index.html
Labels: content, HTML

Update README based on recent edits
  README.md
Labels: documentation

Add sitemap and prevent indexing of 404 page
  404.html
Labels: content, HTML

Add sitemap (missed file)
  sitemap.txt
Labels: none

Reformat and fixes in Important Links
  links.html
Labels: content, HTML

Replace .ico favicon with better quality svg icon
  404.html
  about/about-me.html
  about/about-project.html
  about/disclaimers-terms.html
  about/index.html
  apply/after-applying.html
  apply/application-systems.html
  apply/choose-a-cegep-program.html
  apply/important-dates.html
  apply/index.html
  apply/make-smart-choices.html
  assets/favicon/favico-16x16.ico
  assets/favicon/favico-32x32.ico
  assets/favicon/favico-48x48.ico
  assets/qinfo-icon.svg
  compare-programs.html
  contact.html
  help.html
  index.html
  links.html
  resources.html
  whatiscegep/cegep-alternatives.html
  whatiscegep/english-cegeps.html
  whatiscegep/index.html
  whatiscegep/programs.html
  whatiscegep/r-score.html
Labels: assets, content, HTML

Minimize gray background around icon image
  assets/qinfo-icon.svg
Labels: assets

Update and improve Champlain application walkthrough
  apply/application-systems.html
  assets/applications/cas-identification.png
  assets/applications/cas-page1.png
Labels: assets, content

Replace smart quotes with regular quotes
  README.md
  about/about-me.html
  about/about-project.html
  apply/after-applying.html
  apply/application-systems.html
  apply/choose-a-cegep-program.html
  apply/make-smart-choices.html
  help.html
  resources.html
  whatiscegep/english-cegeps.html
  whatiscegep/r-score.html
Labels: content, documentation, HTML

Add licenses, create/initialize documentation files
  .github/CODEOWNERS
  README.md
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/LICENSE.md
  docs/OLD-about.md
  docs/STYLE_GUIDE.md
Labels: documentation, workflow

Remove some past dates, update Marianopolis event
  apply/important-dates.html
Labels: content

Fix a typo and modify styling
  apply/important-dates.html
Labels: content

Complete initial Marianopolis walkthrough and improvements
  apply/application-systems.html
  assets/applications/cas-mari-start.png
  assets/applications/mari-apply-step1.png
  assets/applications/mari-apply-step2.png
  assets/applications/mari-apply-step3.png
Labels: assets, content

Replace absolute quetudesinfo paths with relative ones
  404.html
  about/about-me.html
  about/about-project.html
  about/disclaimers-terms.html
  about/index.html
  apply/after-applying.html
  apply/application-systems.html
  apply/choose-a-cegep-program.html
  apply/important-dates.html
  apply/index.html
  apply/make-smart-choices.html
  compare-programs.html
  contact.html
  help.html
  index.html
  links.html
  resources.html
  whatiscegep/cegep-alternatives.html
  whatiscegep/english-cegeps.html
  whatiscegep/index.html
  whatiscegep/programs.html
  whatiscegep/r-score.html
Labels: content, HTML

Add .gitignore for local linter setup
  .gitignore
Labels: none

Fix img src and remove unneeded styles
  apply/after-applying.html
  style/template.css
Labels: content, CSS

Small tag and formatting fix
  links.html
Labels: content, HTML

Update important dates on its page and homepage
  apply/important-dates.html
  index.html
Labels: content, HTML

Replace fontawesome icon
  apply/important-dates.html
Labels: content

Auto-label needs triage for new unlabeled issues
  .github/workflows/new-issues.yml
Labels: workflow

Add Ptable link and minor typo/formatting fixes
  resources.html
Labels: content, HTML

Remove past event
  apply/important-dates.html
Labels: content

Remove banners for months without upcoming events
  apply/important-dates.html
Labels: content

Various adjustments in License file
  docs/LICENSE.md
Labels: none

Update past application deadline date
  apply/important-dates.html
Labels: content

Fix important dates page layout
  apply/important-dates.html
Labels: content

.github/labeler.yml:

# For more information on GitHub Actions' labeler, see https://github.com/actions/labeler

assets:
- assets/**/*

content:
- about/**/*
- apply/**/*
- whatiscegep/**/*
- '*.html'

CSS:
- style/**/*
- '*.css'

documentation:
- '*.md'

HTML:
- '*.html'

JS:
- scripts/**/*
- '*.js'

workflow:
- .github/**/*
