Repository cw118/quetudesinfo, changes with the labels that .github/labeler.yml gives for each.
All labels: assets, content, CSS, documentation, HTML, JS, workflow

Update disclaimer/banner with new information
  apply/important-dates.html
Labels: content

Modify/update important dates section
  index.html
Labels: content, HTML

Remove unneeded slash in link text
  links.html
Labels: content, HTML

April/May update for important dates
  apply/important-dates.html
  index.html
Labels: content, HTML

minor/coherent typography changes
  apply/important-dates.html
Labels: content

fix(home-important-dates): fix overflowing text
  index.html
Labels: content, HTML

chore(home: important-dates): update recent dates
  index.html
Labels: content, HTML

Initial version of improved comparison tool
  .gitignore
  compare-programs.html
  compare-programs/compare.js
  compare-programs/index.html
  compare-programs/programs/marianopolis.json
  scripts/compare.js
  style/template.css
Labels: content, CSS, HTML, JS

Create helper function to reduce repetition
  compare-programs/compare.js
Labels: none

Finalized script/two JSON files and small edits
  compare-programs/compare.js
  compare-programs/index.html
  compare-programs/programs/dawson.json
  compare-programs/programs/marianopolis.json
  style/template.css
Labels: CSS

Add remaining JSON data, small script edit/fix
  compare-programs/compare.js
  compare-programs/programs/champ-lennox.json
  compare-programs/programs/champ-stlam.json
  compare-programs/programs/champ-stlaw.json
  compare-programs/programs/heritage.json
  compare-programs/programs/jabbott.json
  compare-programs/programs/vanier.json
Labels: none

Add comments for the compare.js script
  compare-programs/compare.js
Labels: none

typofix for a comment
  compare-programs/compare.js
Labels: none

fix(compare.js): fix JSON file request link
  compare-programs/compare.js
Labels: none

chore(compare.js): clear list/input fields, fix indentation
  compare-programs/compare.js
Labels: none

fix(compare.js): clear cegep JSON request on change
  compare-programs/compare.js
Labels: none

fix(compare.js): only send one request for selected cegep/program
  compare-programs/compare.js
Labels: none

Complete/initial guidelines and readme
  README.md
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/LICENSE.md
  docs/OLD-about.md
  docs/STYLE_GUIDE.md
Labels: documentation

move license file
  LICENSE.md
  README.md
Labels: documentation

chore(links.html): update links for calendars etc.
  links.html
Labels: content, HTML

chore(old-readme): reword note
  docs/OLD-about.md
Labels: none

chore: update Help/FAQ and copyright/footer
  404.html
  about/about-me.html
  about/about-project.html
  about/disclaimers-terms.html
  about/index.html
  apply/after-applying.html
  apply/application-systems.html
  apply/choose-a-cegep-program.html
  apply/important-dates.html
  apply/index.html
  apply/make-smart-choices.html
  compare-programs/index.html
  contact.html
  help.html
  index.html
  links.html
  resources.html
  whatiscegep/cegep-alternatives.html
  whatiscegep/english-cegeps.html
  whatiscegep/index.html
  whatiscegep/programs.html
  whatiscegep/r-score.html
Labels: content, HTML

chore: update/fix disclaimrs and terms
  about/disclaimers-terms.html
  style/template.css
Labels: content, CSS

chore: issue/PR templates and contribution license note
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/pull_request_template.md
  docs/CONTRIBUTING.md
Labels: workflow

chore: mention equivalences b/w school systems
  whatiscegep/index.html
Labels: content

chore(home-important-dates): replace outdated info
  index.html
Labels: content, HTML

chore(home-important-dates): fix order+description
  index.html
Labels: content, HTML

Link to my profile, note on discussions in README
  README.md
Labels: documentation

fix(programs.html): replace broken image link
  whatiscegep/programs.html
Labels: content

fix(links.html): fix Dawson academic calendar link
  links.html
Labels: content, HTML

chore(important-dates): update w/ currently known dates
  apply/important-dates.html
Labels: content

chore(important-dates): update w/ currently known dates (#25)
  apply/important-dates.html
Labels: content

fix(important-dates): rm extra november event-row
  apply/important-dates.html
Labels: content

chore(important-dates): rm past event
  apply/important-dates.html
Labels: content

chore(important-dates): add SRAM round deadlines
  apply/important-dates.html
Labels: content

chore(important-dates): css margins/update events
  apply/important-dates.html
  style/template.css
Labels: content, CSS

chore(important-dates): add id for past dates
  apply/important-dates.html
Labels: content

chore(important-dates): move past events
  apply/important-dates.html
Labels: content

chore(important-dates): rm past november dates
  apply/important-dates.html
Labels: content

chore(important-dates): rm campus tours and mb-0
  apply/important-dates.html
Labels: content

.github/labeler.yml:

# For more information on GitHub Actions' labeler, see https://github.com/actions/labeler

assets:
- assets/**/*

content:
- about/**/*
- apply/**/*
- whatiscegep/**/*
- '*.html'

CSS:
- style/**/*
- '*.css'

documentation:
- '*.md'

HTML:
- '*.html'

JS:
- scripts/**/*
- '*.js'

workflow:
- .github/**/*
